@import "../../lib/variables";


.Error {
  text-align: center;

  & p {
    color: $blue;
  }

  & p small {
    font-size: 85%;
  }
}

.icon {
  margin-bottom: grid(2);

  & svg {
    fill: color($light shade(3.75));
    height: 128px;
    width: @height;
  }
}

.subtle-text {
  color: $mid;

  & a {
    color: $green;
  }
}
