@import "../../lib/variables";


.List {
  font-size: 2.25rem;
}


.item {
  border-bottom: 1px solid color($light shade(7.5%));
  display: block;
  padding: grid(2) 0;
  text-decoration: none;

  & .name {
    font-weight: 300;
  }

  & .info {}
}
