@import "../../lib/variables";


.url {
  font-size: .9em;
  margin-bottom: grid(3);

  & a {
    color: $blue;
    font-weight: 600;
    letter-spacing: 0.0125em;
    text-decoration: none;
  }
}


.urlLabel {
  display: inline-block;
  font-weight: 600;
  margin-right: grid(1);
}
