.Container {
  display: flex;
  margin: 0 auto;
  max-width: calc(520px * 2);
  width: 92.5%;

  & > section { flex: 1; }
  & > section:nth-child(2) { margin-left: grid(7); }

  & > :global(section.is-small) {
    max-width: 520px;
    width: 50%;
  }
}
