@import "../lib/variables";


.EmptyState {
  background: $base06;
  border-radius: $border-radius;
  color: $base03;
  font-size: .85rem;
  font-weight: 600;
  letter-spacing: .025em;
  padding: grid(5) grid(1);
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
