@import "../lib/variables";


.Label {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: 0.075em;
  margin-bottom: grid(1);
  text-transform: uppercase;

  & + input {
    margin-top: grid(-1);
  }

  & + table {
    margin-top: 0;
  }
}
