@import "../lib/variables";


.LabelBlock {
  background-color: $dark;
  border-radius: $border-radius;
  color: $light;
  display: inline-block;
  font-size: .9em;
  font-weight: 600;
  margin-right: grid(1);
  padding: rem(2px) grid(.5) 0;
}
