@import "../lib/variables";


.Note {
  font-size: .85em;
  opacity: .725;

  & a {
    border-bottom: 1px solid currentColor;
    color: $base0E;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
  }
}
