doctype html
html
  head
    meta(charset="utf-8")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport")

    block title
      title Key Maps

    if assets['application.css']
      link(rel="stylesheet" href="/" + assets['application.css'].path)
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.min.css")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700")


  body.loader-overlay--show.loader-overlay--fadein

    #react-mount


    .loader-overlay
      .loader
        .loader-inner.ball-scale-ripple-multiple
          div
          div
          div


    block scripts
      script(src="/" + assets['application.js'].path)
